@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <AutoRedirect />
    </NotAuthorized>
    <Authorized>
        <main>
            <NavBar />

            <div class="px-1 mt-2">
                @Body
            </div>
        </main>
    </Authorized>
</AuthorizeView>